@let races = races$ | async;
@let raceDetails = raceDetails$ | async;
<mat-form-field>
  <mat-label>Races</mat-label>
  <mat-select [(value)]="selectedRace" (selectionChange)="getRaceById()">
    @for (race of races; track race) {
    <mat-option [value]="race.index">{{race.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>
@if (raceDetails?.subraces?.length) {
  <mat-form-field>
    <mat-label>Subraces</mat-label>
    <mat-select [(value)]="selectedSubrace" (selectionChange)="getSubraceById()">
      @for (subrace of raceDetails?.subraces; track subrace) {
      <mat-option [value]="subrace.index">{{subrace.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
}
