@let strAbilityBonus = (strAbilityBonus$ | async)!;
@let conAbilityBonus = (conAbilityBonus$ | async)!;
@let dexAbilityBonus = (dexAbilityBonus$ | async)!;
@let intAbilityBonus = (intAbilityBonus$ | async)!;
@let wisAbilityBonus = (wisAbilityBonus$ | async)!;
@let chaAbilityBonus = (chaAbilityBonus$ | async)!;
@let availablePoints = (availablePoints$ | async)!;

{{availablePoints}}
<ability-scores-selector
  (addPointEvent)="increment()"
  (removePointEvent)="decrement()"
  [abilityName]="strAbilityBonus.ability_score.name"
  [abilityIndex]="strAbilityBonus.ability_score.index"
  [abilityScore]="strAbilityBonus.bonus"
  [racialBonus]="strAbilityBonus.racialBonus"
  [finalScore]="strAbilityBonus.racialBonus + strAbilityBonus.bonus"
  [disableAddButton]="!availablePoints"
></ability-scores-selector>
<ability-scores-selector
  (addPointEvent)="increment()"
  (removePointEvent)="decrement()"
  [abilityName]="conAbilityBonus.ability_score.name"
  [abilityIndex]="conAbilityBonus.ability_score.index"
  [abilityScore]="conAbilityBonus.bonus"
  [racialBonus]="conAbilityBonus.racialBonus"
  [finalScore]="conAbilityBonus.racialBonus + conAbilityBonus.bonus"
  [disableAddButton]="!availablePoints"
></ability-scores-selector>
<ability-scores-selector
  (addPointEvent)="increment()"
  (removePointEvent)="decrement()"
  [abilityName]="dexAbilityBonus.ability_score.name"
  [abilityIndex]="dexAbilityBonus.ability_score.index"
  [abilityScore]="dexAbilityBonus.bonus"
  [racialBonus]="dexAbilityBonus.racialBonus"
  [finalScore]="dexAbilityBonus.racialBonus + dexAbilityBonus.bonus"
  [disableAddButton]="!availablePoints"
></ability-scores-selector>
<ability-scores-selector
  (addPointEvent)="increment()"
  (removePointEvent)="decrement()"
  [abilityName]="intAbilityBonus.ability_score.name"
  [abilityIndex]="intAbilityBonus.ability_score.index"
  [abilityScore]="intAbilityBonus.bonus"
  [racialBonus]="intAbilityBonus.racialBonus"
  [finalScore]="intAbilityBonus.racialBonus + intAbilityBonus.bonus"
  [disableAddButton]="!availablePoints"
></ability-scores-selector>
<ability-scores-selector
  (addPointEvent)="increment()"
  (removePointEvent)="decrement()"
  [abilityName]="wisAbilityBonus.ability_score.name"
  [abilityIndex]="wisAbilityBonus.ability_score.index"
  [abilityScore]="wisAbilityBonus.bonus"
  [racialBonus]="wisAbilityBonus.racialBonus"
  [finalScore]="wisAbilityBonus.racialBonus + wisAbilityBonus.bonus"
  [disableAddButton]="!availablePoints"
></ability-scores-selector>
<ability-scores-selector
  (addPointEvent)="increment()"
  (removePointEvent)="decrement()"
  [abilityName]="chaAbilityBonus.ability_score.name"
  [abilityIndex]="chaAbilityBonus.ability_score.index"
  [abilityScore]="chaAbilityBonus.bonus"
  [racialBonus]="chaAbilityBonus.racialBonus"
  [finalScore]="chaAbilityBonus.racialBonus + chaAbilityBonus.bonus"
  [disableAddButton]="!availablePoints"
></ability-scores-selector>

<button mat-button (click)="resetAvailablePoints()">Reset Points</button>

