@let classes = classes$ | async;
<!-- @let classDetails = classDetails$ | async; -->

<mat-form-field>
  <mat-label>Classes</mat-label>
  <mat-select [(value)]="selectedClass" (selectionChange)="getClassById()">
    @for (class of classes; track class) {
    <mat-option [value]="class.index">{{class.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<!-- <p>
  {{classDetails?.name}}
</p>
@for (option of classDetails?.starting_equipment_options; track option) {
{{option.choose}}
{{option.description}}
@for (equipment of option.equipment_options; track equipment) {
{{equipment.name}}
{{equipment.quantity}}
{{equipment.url}}
}
} -->
