

<div class="section">
  <div class="stepper-container">
    <stepper-creator
      (step)="changeStep($event)"
      (raceToDisplay)="displayRaceDetails($event)"
      (classToDisplay)="displayClassDetails($event)"
    ></stepper-creator>
  </div>
  <div class="details-container">
    <div *ngIf="step === 0">
      <race-description [raceDetails$]="raceToDisplay$"></race-description>
    </div>
    <div *ngIf="step === 1">
      <class-description [classDetails$]="classToDisplay$"></class-description>
    </div>
    <div *ngIf="step === 2">
      <p>Composant pour l'étape 3</p>
      <p>Race</p>
    </div>
  </div>
</div>

<!-- <button (click)="getBonuses()">get bonuses</button>
@if(abilityBonus) {
  <ability-scores-array [abilityBonus]="abilityBonus"></ability-scores-array>
} -->



//stepper
//description du personnage
//choix de la race
//choix de la classe
//choix du background et un alignement
//répartition des points de caractéristique et points de vie
//choix des capacités de classe
//choix des maitrises
//choix des options et équipements
//choix des sorts connus
//récapitulatif et présentation de la feuille
