<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select [(value)]="selectedRace" (selectionChange)="getRaceById()">
    @for (food of races; track food) {
    <mat-option [value]="food.index">{{food.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<div>
  {{race.name}}

  {{race.starting_proficiency_options?.choose}}
  {{race.starting_proficiency_options?.description}}
  @for (option of race.starting_proficiency_options?.options; track option) {
  {{option.name}}
  }

</div>