@let races = races$ | async;
@let raceDetails = raceDetails$ | async;
<mat-form-field>
  <mat-label>Races</mat-label>
  <mat-select [(value)]="selectedRace" (selectionChange)="getRaceById()">
    @for (race of races; track race) {
    <mat-option [value]="race.index">{{race.name}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<div>
  {{raceDetails?.name}}

  {{raceDetails?.starting_proficiency_options?.choose}}
  {{raceDetails?.starting_proficiency_options?.description}}
  @for (option of raceDetails?.starting_proficiency_options?.options; track option) {
  {{option.name}}
  }

</div>