@let raceDetails = raceDetails$ | async;
@let classDetails = classDetails$ | async;
@let backgroundDetails = backgroundDetails$ | async;
<mat-stepper [linear]="false" orientation="vertical" #stepper (selectionChange)="onStepChange($event)">
  <!--race selector-->
  <mat-step>
    <ng-template matStepLabel>
      <div class="stepper-header-overlay"></div>
      {{raceDetails ? 'Race: ' + raceDetails.name : 'Choose a Race'}}
    </ng-template>
    <race-selector (raceToDisplay)="onRaceToDisplay($event)"></race-selector>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--class selector-->
  <mat-step>
    <ng-template matStepLabel>
      <div class="stepper-header-overlay"></div>
      {{classDetails ? 'Class: ' + classDetails.name : 'Choose a Class'}}
    </ng-template>
    <class-selector (classToDisplay)="onClassToDisplay($event)"></class-selector>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--background selector-->
  <mat-step label="Choose a Background">
    <ng-template matStepLabel>
      <div class="stepper-header-overlay"></div>
      {{backgroundDetails ? 'Background: ' + backgroundDetails.name : 'Choose a Background'}}
    </ng-template>
    <background-selector (backgroundToDisplay)="onBackgroundToDisplay($event)"></background-selector>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--ability scores selector-->
  <mat-step label="Ability scores and HP">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--class capacities selector-->
  <!-- <mat-step label="Class special skills">
    <p>Special skills</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step> -->
  <!--proficiencies selector-->
  <mat-step label="Choose Proficiencies">
    <p>Proficiencies</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--equipment selector-->
  <mat-step label="Choose equipments">
    <p>Equipment</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--spells selector-->
  <mat-step label="Choose known spells">
    <p>Spells</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <!--character description-->
  <mat-step label="Character description">
    <p>Description</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-stepper>
